{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-8">
			<table class="table w-100 p-3">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Result</th>
					</tr>
				</thead>
				<tbody>
                    {% for submit in content %}
					<tr>
						<th scope="row">1</th>
						<td>{{submit.first_name}}</td>
						<td>{{submit.last_name}}</td>
						<td>{{submit.score}}</td>
					</tr>
                    {% endfor %}
					{% comment %} <tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr> {% endcomment %}
				</tbody>
			</table>
		</div>
    </div>

{% endblock %}